# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\wysoc\OneDrive\Pulpit\2020Z_AISD_proj_zesp_GR3_gr2\patients-transport-center\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
